body { font-family: 'Droid Sans', 'Arial', sans-serif; -webkit-font-smoothing: antialiased; }

a { transition: all .2s }

h2, h3, h4, h5 { font-family: 'Open Sans', 'Arial', sans-serif; font-weight: bold}

.text-uppercase { text-transform: uppercase }
.text-red { color: #FF5D8F !important }
.text-blue { color: #4FD0D0 !important; }



.button { border-radius: 4px; }

#mlens_wrapper_0 { width: 100% !important }

.header { padding: 1.6em 0; }

.main-menu { margin-top: .2em; }
.main-menu a { color: #666; letter-spacing: .5px; font-family: 'Open Sans'; padding: .6em; font-weight: 400; font-size: .8em; display: inline-block; margin-right: .6em; border: 2px solid white }
.main-menu a:hover { border: 2px solid #70CBCE }


.presentation ol { list-style-type: none }
.presentation li p { font-weight: 200; }
.presentation ol li h3  { color: #B7DF18; font-size: 1.8em;  }
.presentation #slider   { min-height: 600px; height: 100% !important; overflow: hidden; }

.presentation .arrows { position: absolute; z-index: 9999; top: 45%; width: 45px; height: 6%; background-size: cover; } 
.presentation .arrows:hover { cursor: pointer; background-color: #000; } 
.presentation .arrow-left { background: #666 url('../images/arrow-left.png') no-repeat center center; border-radius: 0 4px 4px 0  } 
.presentation .arrow-right { background: #666 url('../images/arrow-right.png') no-repeat center center; right: 0; border-radius: 4px 0 0 4px } 

.presentation .slider-1  { background: url('../images/slider1.jpg'); }
.presentation .slider-2  { background: url('../images/slider2.jpg'); }
.presentation .slider-3  { background: url('../images/slider3.jpg'); }
.presentation .slider-4  { background: url('../images/slider4.jpg'); }
.presentation .slider-5  { background: url('../images/slider5.jpg'); }


.presentation #slider   { background-repeat: no-repeat; background-position: center bottom; background-size: cover; }

.presentation .slider-content { padding: .8em; width: 50%; position: absolute; right: 0; top: 60%; background: rgba(0,0,0,0.8);  }
.presentation .slider-content p { color: white }
.presentation .slider-content li { display: none }
.presentation .slider-content li:first-child { display: block }


#plan { padding: 2em 0 }
#plan h2 { margin-top: 0; padding-top: 0; }
#plan p { font-size: .9em; line-height: 1.6em }
#plan img { padding: .8em; display: inline-block; margin-top: 1.8em }
#plan .button { background: #FF416A }
#plan a.button { display: block; width: 35%; margin: 0 auto; }
#plan .about { display: none; background: #efefef; padding: .8em; font-size: 1em; }

#join { background: url('../images/plan-bg.jpg') no-repeat center top; background-size: cover; padding: 3em 0 }
#join * { color: white }
#join h2 { color: #B7DF18; margin-bottom: 1.5em }
#join img { display: block; margin: 0 auto; margin-bottom: 1.5em }
#join p { font-size: .9em; padding: .8em }
#join .program p { min-height: 380px; height: 100%; }
#join .button { display: block; margin-top: 10%; color: #333; background: #DBE444; font-weight: bold; opacity: 1 }
#join .button:hover { background: #B6E017 }
#join .disabled { background: #fdfede; opacity: .3 }
#join .disabled:hover { background: #fdfede;}

#map { padding: 2em 0 0 0; }
#map h2 { margin-bottom: 1em }

#talk { background: url('../images/talk.jpg') no-repeat center top; background-size: cover; padding: .4em 0 .2em 0; } 
#talk * { color: white }
#talk h2 { color: #B7DF18; margin-top: 2em; margin-bottom: 2em }
#talk label, #talk input { display: inline-block }
#talk label { width: 80%; }
#talk input { color: black; }
#talk button { padding: .6em .4em !important; background: #B7DF18 }

.footer { background: black; color: #ccc; padding: 1.2em 0 .4em 0;  }
.footer h5 { color: #ccc }
.footer h5.thin { font-weight: 200 !important; text-transform: capitalize }
